	.gsd-keyboard.settings-ported
	Android Open Source Project/
	BraveSoftware/
	Deskreen/
	GIMP/
	Google/
	KDE/
	Softdeluxe/
	Thunar/
	Trolltech.conf
	VSCodium/
	YouTube Music/
	akregatorrc
	arduino-ide/
	autostart/
	baloofilerc
	bluedevilglobalrc
	btop/
	chromium/
	dconf/
	device_automounter_kcmrc
	discord/
	discoverrc
	dleyna-renderer-service.conf
	dolphinrc
	emaildefaults
	evolution/
	gnome-boxes/
	gnome-control-center/
	google-chrome/
	gtk-2.0/
	gtk-3.0/
	gtk-4.0/
	gtkrc
	gtkrc-2.0
	kactivitymanagerd-statsrc
	kactivitymanagerdrc
	katerc
	kateschemarc
	katevirc
	kcminputrc
	kconf_updaterc
	kde.org/
	kdeconnect/
	kded_device_automounterrc
	kdedefaults/
	kdeglobals
	kglobalshortcutsrc
	khotkeysrc
	kitty/
	kmixctrlrc
	kmixrc
	konsolerc
	krunnerrc
	kscreenlockerrc
	ksmserverrc
	ktimezonedrc
	kwalletrc
	kwinrc
	kwinrulesrc
	kxkbrc
	libaccounts-glib/
	libfm/
	libreoffice/
	libvirt/
	mimeapps.list
	monitors.xml
	nautilus/
	neofetch/
	nitrogen/
	obs-studio/
	okularpartrc
	okularrc
	pavucontrol.ini
	pcmanfm/
	plank/
	plasma-localerc
	plasma-org.kde.plasma.desktop-appletsrc
	plasmashellrc
	pmbootstrap.cfg
	powerdevilrc
	powermanagementprofilesrc
	pulse/
	rofi/
	session/
	smplayer/
	smtube/
	spectaclerc
	spotify/
	systemsettingsrc
	user-dirs.dirs
	user-dirs.locale
	xfce4/
	xsettingsd/
